body {
  position: static;
  overflow: visible;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #17191b;
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 200;
  width: 100%;
  height: 82px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #fff;
  background-color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  color: #17191b;
  font-size: 16px;
}

.navbar-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  color: #17191b;
  font-size: 16px;
  line-height: 24px;
}

.brand {
  display: flex;
  padding-left: 0px;
  align-items: center;
  color: #17191b;
  line-height: 24px;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  line-height: 24px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  font-size: 18px;
}

.nav-link:hover {
  filter: brightness(161%);
  color: #5d758d;
  mix-blend-mode: normal;
}

.horizontal-container {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(auto-fit, 100%);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.horizontal-container.navbar {
  display: flex;
  max-width: none;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  transition: all 200ms ease;
}

.horizontal-container.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.horizontal-container.testimonials {
  display: flex;
}

.horizontal-container.colunas {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) minmax(50%, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icon-button {
  display: flex;
  padding: 6px 20px 6px 18px;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 8px;
  background-color: #fff;
  transition: all 200ms ease;
  font-size: 18px;
  text-decoration: none;
}

.icon-button:hover {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 0 0 #17191b;
  transform: translate(-3px, -3px);
}

.discord-icon {
  width: 24px;
  margin-right: 8px;
}

.logo-text {
  display: block;
  height: 42px;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.primary-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 8px;
  background-color: #46d6a8;
  transition: all 200ms ease;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #14a376;
  color: #000;
}

.primary-button.small {
  display: flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 8px;
  background-color: #46d6a8;
  transition: all 200ms ease;
  text-decoration: none;
}

.primary-button.small:hover {
  background-color: #14a376;
  color: #000;
  font-weight: 400;
  text-align: left;
}

.primary-button.espaco {
  margin-top: 12px;
  margin-bottom: 12px;
}

.menu-button {
  position: relative;
  display: none;
  padding: 18px;
  background-color: rgba(56, 152, 236, 0);
}

.section {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Montserrat, sans-serif;
}

.section.hero {
  position: relative;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 0px;
  padding-bottom: 80px;
  background-color: #b6ddee;
  color: #17191b;
  font-size: 16px;
  line-height: 24px;
}

.section.bottom-margin {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #b6ddee;
}

.section.bottom-margin.no-top {
  padding-top: 10px;
}

.section.bottom-margin.fundo {
  padding-bottom: 20px;
  background-color: #f2f3f9;
}

.section.gray {
  background-color: #f2f3f9;
  color: #17191b;
}

.section.footer {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #cfd5db;
}

.section.no-bottom {
  padding-bottom: 0px;
  background-color: #fff;
}

.section.blue {
  padding-bottom: 20px;
  background-color: #b6ddee;
}

.section.invisivel {
  display: none;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container.text-container {
  display: flex;
  max-width: 600px;
  margin-bottom: 20px;
}

.container.text-container.left {
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.small-container {
  display: block;
  width: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 52px;
  line-height: 72px;
  font-weight: 600;
}

.h1.espaco {
  margin-top: 12px;
  margin-bottom: 12px;
}

.h4 {
  position: relative;
  z-index: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.h4.subtitulo {
  position: relative;
  z-index: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #49535c;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.h4.subtitulo.espaco {
  margin-top: 12px;
  margin-bottom: 12px;
}

.h4.regular {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.h4.regular.bold {
  margin-bottom: 0px;
  font-weight: 500;
}

.image-wraper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image-wraper.topo {
  display: block;
  width: 1200px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -o-object-fit: fill;
     object-fit: fill;
}

.image-wraper.topo.some {
  display: block;
}

.image-hero {
  position: absolute;
  z-index: 100;
  width: 50%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-hero.contain {
  position: relative;
  display: block;
  width: 60%;
  max-width: 100%;
  margin: 0px auto 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.body {
  font-size: 16px;
  line-height: 24px;
}

.center-container {
  display: flex;
  max-width: 780px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 0px;
  color: #17191b;
  text-align: center;
}

.center-container.no-bottom {
  margin-bottom: 20px;
}

.center-container._2-cols {
  display: -ms-grid;
  display: grid;
  max-width: 1280px;
  justify-content: space-between;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  text-align: center;
}

.h2.topo {
  display: block;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
}

.h2.topo.gray {
  color: #17191b;
}

.h2.topo.teste {
  display: none;
}

.h2.small {
  font-size: 32px;
  line-height: 48px;
}

.h2.some {
  display: none;
}

.h2.bottom-marg {
  margin-bottom: 40px;
}

.text {
  display: block;
  margin-bottom: 0px;
  color: #49535c;
}

.text.accordion-txt {
  margin-bottom: 20px;
}

.text.margin-top {
  margin-top: 0px;
}

.text.top-margin {
  margin-top: 20px;
}

.text.bold-text.black {
  margin-right: auto;
  margin-left: auto;
  color: #17191b;
}

.text.bold-text.black.large-text {
  direction: ltr;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-indent: 0px;
  mix-blend-mode: normal;
}

.text.gray {
  color: #17191b;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main-grid.five-col {
  display: none;
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-grid.feature {
  justify-items: start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  -ms-grid-columns: -webkit-max-content 1fr;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  color: #17191b;
}

.main-grid.feature.bottom {
  margin-bottom: 20px;
}

.main-grid.margin {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.main-grid.small-margin {
  width: 100%;
  justify-content: stretch;
  align-content: end;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.bold-text {
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.bold-text.gray {
  padding-right: 20px;
  color: #49535c;
  text-align: left;
}

.bold-text.topo {
  display: block;
  max-width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
}

.bold-text.topo.teste {
  display: none;
  margin-top: -44px;
  font-family: Merriweather, serif;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 14px;
  text-shadow: 0 0 4px #000;
}

.promo-video {
  position: relative;
  display: flex;
  width: 100%;
  height: 520px;
  max-width: 920px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-image: linear-gradient(180deg, rgba(23, 25, 27, 0.12), rgba(23, 25, 27, 0.64)), url('../images/Trailer.webp');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  color: #17191b;
}

.image {
  display: block;
}

.image.topo {
  margin-top: 0px;
}

.play-button {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 100%;
  background-color: hsla(0, 0%, 100%, 0.24);
  transition: all 200ms ease;
}

.play-icon {
  width: 26px;
}

.course-wraper {
  display: flex;
  max-width: 780px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 0px;
}

.accordion {
  z-index: 100;
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 16px;
  background-color: #fff;
  transition: all 300ms ease;
}

.accordion:hover {
  box-shadow: 2px 2px 0 0 #000;
  transform: translate(-3px, -3px);
}

.accordion.faq {
  display: block;
  margin-bottom: 0px;
  border-style: none none solid;
  border-radius: 0px;
  background-color: transparent;
}

.accordion.faq:hover {
  box-shadow: 0 1px 0 0 #000;
}

.accordion-container {
  display: flex;
  padding: 0px;
  flex-direction: column;
  grid-row-gap: 0px;
}

.accordion-container.full {
  width: 50%;
}

.accordion-container.horizontal {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion-text {
  position: static;
  background-color: rgba(56, 152, 236, 0);
}

.accordion-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.chip {
  display: flex;
  width: 64px;
  padding: 6px 60px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 30px;
  background-color: #ff80b1;
  box-shadow: 2px 2px 0 0 #000;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.vertical-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.vertical-container.small-gap {
  padding-top: 12px;
  padding-bottom: 0px;
  grid-row-gap: 0px;
}

.horizontal-line {
  height: 8px;
  margin-bottom: 80px;
  padding-bottom: 0px;
  background-color: #615cff;
  background-image: linear-gradient(90deg, #615cff, #ff80b1 82%, #f3b500);
}

.horizontal-line.gray {
  height: 1px;
  margin-bottom: 12px;
  background-color: #cfd5db;
  background-image: none;
}

.body-2 {
  line-height: 24px;
}

.testimonial-card {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 14px;
  box-shadow: 2px 2px 0 0 #17191b;
}

.span {
  background-color: rgba(97, 92, 255, 0.5);
}

.span.terciary {
  background-color: rgba(243, 181, 0, 0.5);
  text-decoration: none;
}

.testimonial {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.small-avatar {
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-style: solid;
  border-width: 2px;
  border-color: #49535c;
  border-radius: 100%;
}

.image-2 {
  width: 50%;
  height: 100%;
  max-width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-text {
  margin-bottom: 0px;
  color: #49535c;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.small-text.top-margin {
  margin-top: 12px;
}

.banner {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-image: linear-gradient(90deg, #615cff, #ff80b1 50%, #f3b500);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 80px;
  justify-items: center;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 400px 1fr 1fr;
  grid-template-columns: 400px 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bottom-grid {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  color: #49535c;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.link.top-margin {
  margin-top: 10px;
}

.social-link {
  display: flex;
  margin-top: 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.bottom-footer {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  padding: 24px 36px 36px;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #17191b;
  border-radius: 16px;
  text-align: center;
}

.card.oculto {
  border-style: none;
}

.h3.gray {
  color: #49535c;
  font-weight: 600;
}

.h3.gray.top-junto {
  margin-top: 0px;
}

.h3.topo {
  text-align: center;
}

.h3.espaco {
  margin-top: 60px;
}

.faq-wrapper {
  display: block;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-text {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
}

.buttom-comprar {
  border-radius: 9px;
  background-color: #46d6a8;
  transition: all 300ms ease;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
}

.buttom-comprar:hover {
  background-color: #14a376;
  transform: scale(1.1);
}

.span-taxado {
  text-decoration: line-through;
}

.container-text {
  margin-top: 10px;
  justify-content: flex-end;
  align-items: center;
}

.image-3 {
  width: 70%;
  height: auto;
  max-height: 100%;
}

.image-3.espaco {
  margin-top: 70px;
}

.image-4 {
  border-radius: 0px;
}

.image-top {
  border-radius: 10px;
}

.col-top {
  text-align: left;
}

.div-block {
  display: block;
}

.logo-image {
  display: block;
  width: 300px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  -ms-grid-row-align: center;
      align-self: center;
  order: -1;
}

.image-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1920px) {
  .navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 200;
    height: 82px;
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: #000 #000 #fff;
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    color: #17191b;
    font-size: 16px;
    line-height: 24px;
  }

  .navbar-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
    font-size: 18px;
  }

  .horizontal-container {
    display: -ms-grid;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 100%);
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .horizontal-container.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 14px;
    grid-row-gap: 14px;
  }

  .horizontal-container.topo {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .icon-button {
    display: flex;
    padding: 6px 20px 6px 18px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #17191b;
    border-radius: 8px;
    background-color: #fff;
    transition: all 200ms ease;
    font-size: 18px;
    text-decoration: none;
  }

  .discord-icon {
    display: inline-block;
    width: 24px;
    margin-right: 8px;
  }

  .small-text {
    color: #49535c;
    line-height: 22px;
    font-weight: 500;
  }

  .small-text.card-text {
    color: #17191b;
    font-weight: 400;
  }

  .body-3 {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 32px;
  }

  .image-3 {
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    height: 74px;
  }

  .navbar-container {
    max-width: none;
    padding-right: 40px;
    padding-left: 40px;
  }

  .nav-menu {
    padding-bottom: 40px;
    background-color: #fff;
  }

  .nav-link {
    background-color: rgba(56, 152, 236, 0);
  }

  .horizontal-container {
    display: flex;
    max-width: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .horizontal-container.navbar {
    max-width: none;
    flex-direction: column;
    align-items: center;
  }

  .horizontal-container.center {
    max-width: none;
    flex-direction: column;
  }

  .horizontal-container.testimonials {
    align-items: flex-start;
  }

  .horizontal-container.colunas {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
  }

  .menu-button {
    display: block;
    width: auto;
    height: auto;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .burger-icon {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #fff;
    cursor: pointer;
  }

  .top-burger-line {
    width: 28px;
    height: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #17191b;
  }

  .icon {
    display: none;
  }

  .middle-burger-line {
    width: 22px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #17191b;
  }

  .bottom-burger-line {
    width: 16px;
    height: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #17191b;
  }

  .section.hero {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .section.no-bottom {
    padding-top: 60px;
  }

  .section.blue {
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .container.text-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .small-container {
    max-width: 80%;
  }

  .image-wraper.topo {
    width: 100%;
    max-width: none;
  }

  .center-container.no-bottom {
    margin-bottom: 60px;
  }

  .main-grid.margin {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-grid.small-margin {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .promo-video {
    height: 420px;
  }

  .course-wraper {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .footer-grid {
    justify-items: start;
  }

  .bottom-grid {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .content-footer {
    margin-right: 0px;
    margin-left: 0px;
  }

  .card {
    max-width: none;
  }

  .faq-wrapper {
    margin-top: 40px;
  }

  .image-top {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .col-top {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .horizontal-container.colunas {
    margin-top: 40px;
    flex-direction: column;
  }

  .primary-button.small {
    -ms-grid-row-align: center;
        align-self: center;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.footer {
    display: block;
    flex-direction: column;
  }

  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .image-wraper.topo {
    display: flex;
  }

  .center-container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .center-container._2-cols {
    display: flex;
  }

  .main-grid.margin {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .promo-video {
    height: 320px;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .buttom-comprar {
    width: auto;
    max-width: 80%;
  }

  .image-top {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .column {
    margin-right: auto;
    margin-left: auto;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .horizontal-container.colunas {
    margin-top: 10px;
  }

  .section.hero {
    padding-top: 0px;
  }

  .section.no-bottom {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .h4 {
    font-size: 16px;
    white-space: pre-wrap;
  }

  .image-wraper.topo {
    display: flex;
  }

  .image-hero.contain {
    display: none;
  }

  .main-grid.margin {
    display: block;
  }

  .main-grid.small-margin {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .promo-video {
    height: 180px;
  }

  .accordion-content {
    display: flex;
    grid-auto-columns: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-columns: 180px;
    grid-template-columns: 180px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .chip {
    display: none;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 10px;
  }

  .banner {
    padding-right: 16px;
    padding-left: 16px;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .bottom-grid {
    justify-content: space-between;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }

  .card.oculto {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .buttom-comprar {
    font-size: 20px;
    line-height: 32px;
  }

  .image-top {
    display: block;
  }

  .col-top.baixo {
    order: 1;
  }

  .image-5 {
    display: none;
  }

  .column {
    order: 1;
  }
}

#w-node-_0c2626e1-b4c0-5520-75e8-6ff53e54674e-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_37343e9c-860f-f29c-ac73-4d668175ae90-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-e91777fc-29c8-172a-7a92-b0e25d5f744f-d18b0514 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-_7b3f72bd-b670-fc29-5551-ed1c4dd30583-d18b0514 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_345f9230-04aa-8b4b-ef7a-1e144754c22a-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_74d1ab6b-8d83-cf73-0ba1-0d46f6725ac2-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3b7182a6-d50c-5a61-070d-f365e056b255-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8c1ccc8b-9b65-d4ee-dfe0-29e359424cab-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ce61407e-d385-9c69-b1d2-824aabe9a9b4-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_19639c6b-9aae-e455-f10d-88a643e55af7-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9a255e55-3cfe-f4d5-2a95-467304168037-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_54cf0963-c1d1-b8ba-3793-246e5d4fcf45-d18b0514 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-af9d6729-790e-1350-a7ed-1b82cdf75510-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_549f82bb-7e7a-5f8f-ca2e-8bda9f495f71-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cd259847-cc31-8e71-5b7b-245840319d98-d18b0514 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_0354c744-8878-583d-d99d-b1d6449de8ad-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb5d925c-311d-0bf6-af49-7a954f87c487-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-af4ba1fc-bdaf-b9c2-b83b-8cbf39cc49e7-d18b0514 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_22c54f10-d6ad-bf5b-0d7f-b41f03af9e74-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_22c54f10-d6ad-bf5b-0d7f-b41f03af9e75-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_22c54f10-d6ad-bf5b-0d7f-b41f03af9e77-d18b0514 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_23b4bfe7-0719-03ed-784a-494c4825636f-d18b0514 {
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: auto;
      justify-self: auto;
}

#w-node-_54f5fdc5-bd83-e864-9d04-4b4b802b3e35-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-e53691d9-921f-e2cd-d09b-858d52c32dda-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_38a514e3-556b-2d05-8fa9-8556c577dc65-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1977020e-fcc8-003f-f522-f3eaa18034ce-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_1977020e-fcc8-003f-f522-f3eaa18034cf-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1977020e-fcc8-003f-f522-f3eaa18034d1-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_60b5e062-3b13-3737-4418-dcba1dafe707-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_60b5e062-3b13-3737-4418-dcba1dafe708-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_60b5e062-3b13-3737-4418-dcba1dafe70a-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-de5d17d4-4fb5-a930-f336-16377a50300e-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-de5d17d4-4fb5-a930-f336-16377a50300f-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-de5d17d4-4fb5-a930-f336-16377a503011-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_709dd60f-c2a4-e6b4-ecf3-53327ad753af-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_709dd60f-c2a4-e6b4-ecf3-53327ad753b0-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_709dd60f-c2a4-e6b4-ecf3-53327ad753b2-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0c5efff6-9afa-beeb-c3da-2faeb07b3517-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_0c5efff6-9afa-beeb-c3da-2faeb07b3518-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0c5efff6-9afa-beeb-c3da-2faeb07b351a-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3b4fa8ca-bd4a-a817-7637-ef6473b136be-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5086485f-9caa-bb17-6da0-f8befbee5321-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c9897b60-f1d3-eb2d-6e62-8b423f1fedaf-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bd70030f-d6ea-6968-0d1f-c2d7c58b52ba-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4b202015-74a5-850d-f474-8a00f9bd61b8-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8d6849f9-d8fa-a8f6-ea62-d9c9c3d9562a-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a15f7581-c87a-5432-536b-f66b04eae1ee-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a15f7581-c87a-5432-536b-f66b04eae1ef-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a15f7581-c87a-5432-536b-f66b04eae1f0-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a15f7581-c87a-5432-536b-f66b04eae1f1-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a15f7581-c87a-5432-536b-f66b04eae1f2-d18b0514 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_480df09d-8619-3034-b975-43bb1858c363-c5c487c7 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_480df09d-8619-3034-b975-43bb1858c363-c5c487c7 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

